.nav__padding {
  padding: 11.6px 16px 6.91px 16px;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.navbar__menu {
  display: none !important;
}
@media (min-width: 800px) {
  .menubar {
    display: none;
  }
  .nav__padding {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
  .navbar__menu {
    display: flex !important;
  }
}
