.hero__mainheading {
  margin-top: 45px;
  text-align: center;
}
.hero__maincontent {
  text-align: center;
  padding: 32px 35px;
  text-align: center;
}
.hero__scrollcontent {
  margin-top: 40px;
  cursor: pointer;
}
.arrow {
  margin-top: 8px;
  // cursor: pointer;
}
